<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- End layout styles -->
        <link rel="stylesheet/less" type="text/css" href="../assets/css/style.scss" />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <script>
  
  </script>
    
  
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
        <%= render "shared/navbar" %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%= render "shared/sidebar" %>
        <!-- partial -->
        <div class="main-panel">

		<div class="col-md-12">

		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Email</label> 
                                <div class="col-8">
                                  <input id="username" name="username" placeholder="<%= current_user.email%>" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">First Name</label> 
                                <div class="col-8">
                                  <input id="name" name="name" placeholder="<%= current_user.firstname%>" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                                <div class="col-8">
                                  <input id="lastname" name="lastname" placeholder="<%= current_user.name%>" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Middle Name*</label> 
                                <div class="col-8">
                                  <input id="text" name="text" placeholder="<%= current_user.middlename%>" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                         
                 
                              <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">Number</label> 
                                <div class="col-8">
                                  <input id="website" name="website" placeholder="<%= current_user.number%>" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="publicinfo" class="col-4 col-form-label">Address</label> 
                                <div class="col-8">
                                  <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"  placeholder="<%= current_user.address%>"></textarea>
                                </div>
                              </div>
                            
                            </form>
		                    </div>
		                </div>

		           </div>
		    </div>


          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%# <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright ©oneknowledgeconsulting 2022</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">  <a href="https://oneknowledgeconsulting.com/" target="_blank">oneknowledgeconsulting</a> from oneknowledgeconsulting.com</span>
            </div>
          </footer> %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>