<%= link_to "Back", :back %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- End layout styles -->
        <link rel="stylesheet/less" type="text/css" href="../assets/css/style.scss" />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <script>
  
  </script>
    
  
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
        <%= render "shared/navbar" %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%= render "shared/sidebar" %>
        <!-- partial -->
        <div class="main-panel">

		<div class="col-md-12">

		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Setting</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Email</label> 
                                <div class="col-8">
                                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control here" %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Last Name</label> 
                                <div class="col-8">
                                	<%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control here" %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">First Name</label> 
                                <div class="col-8">
                                <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class:"form-control here"  %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Middle Name*</label> 
                                <div class="col-8">
                                	<%= f.text_field :middlename, autofocus: true, autocomplete: "middlename",  class:"form-control here"  %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Number</label> 
                                <div class="col-8">
                               	<%= f.text_field :number, autofocus: true, autocomplete: "number", class:"form-control here" %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Address</label> 
                                <div class="col-8">
                                 <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control here" %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                                <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                <div class="col-8">
                                       <%= f.password_field :password, autocomplete: "new-password",class:"form-control here" %>
                                        <% if @minimum_password_length %>
                                    <br />
                                    <em><%= @minimum_password_length %> characters minimum</em>
                                  <% end %>
                                </div>
                              </div> 
                               <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Password_confirmation</label> 
                                <div class="col-8">
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control here"%>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label"></label> 
                                 <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                <div class="col-8">
                                      <%= f.password_field :current_password, autocomplete: "current-password" ,class:"form-control here"%>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                <%= f.submit "Update",class:"btn btn-primary" %>
                                </div>
                              </div>
                            <% end %>
                            <h3>Cancel my account</h3>
                            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger" %></p>
		                </div>
		            </div>

		    </div>
		</div>


          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright ©oneknowledgeconsulting 2022</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end">  <a href="https://oneknowledgeconsulting.com/" target="_blank">oneknowledgeconsulting</a> from oneknowledgeconsulting.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>