 <link rel="stylesheet" href="../../../assets/css/Login.css">
<body style="background-color: #666666;">
	
	<div >
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
					  <%= render "users/shared/error_messages", resource: resource %>
          <span class="login100-form-title p-b-43">
       
               <a href="/">   <%= image_tag "logo.png",height: "200"%></a>
				  	<h4>	SIGN UP</h4>
            <% flash.each do |type, msg| %>
							<div style="color:red">
								<%= msg %>
							</div>
						<% end %>
					</span>
										
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
           	<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100", required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Surname</span>
					</div>
          	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
           	<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100", required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Firstname</span>
					</div>
          	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
           	<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100", required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Middle name</span>
					</div>
          	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
           	<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100", required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Address</span>
					</div>
          	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
           	<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100", required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Number</span>
					</div>
          <br><br><br><br><br>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"input100" , required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
          	<div class="wrap-input100 validate-input" data-validate="Password is required">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input100" , required: true %>
            <span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<%# <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label> %>
						<% if devise_mapping.rememberable? %>
							<div class="field">
							   <%= f.check_box :remember_me%>
      							<%= f.label :remember_me %>
							</div>
						<% end %>
						</div>
						
					</div>
			

					<div class="container-login100-form-btn">
              <%= f.submit "Sign up" ,  class:"login100-form-btn"%>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
			    	<%= render "users/shared/links" %>
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="https://www.facebook.com/kirstenregaladofashion" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="https://twitter.com/kirstenregalado" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>

						<a href="https://www.instagram.com/kirstenregalado/" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
          			<% end %>
				</div>

				<div class="login100-more image-me">
		
		
         	 <%= image_tag "IMG_7269.jpg", height: 1000 %>
				</div>
			</div>
		</div>
	</div>

